body {
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	background-attachment:fixed;
	font-family: helvetica;
	text-align: center;
}

#instructions {
	margin-top:30px;
	font-size: 10px;
}
#timer {
	font-color: black;
	background-color: white;
	border: 2px solid pink;
	font-size: 18px;
}
#grumpy {
	position: fixed;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	top: 0px;
	left: 60%;

}
#gameboard table {
	margin-left: auto;
	margin-right: auto;
	 }
}
#gameboard tr {
	display: inline-block;
	
}
#gameboard td {
	display:inline-block;
	cursor:pointer;
	color:#ff5bb0;
	float:left;
	font-family:arial;
	font-size:80px;
	padding:0px;
	/*margin: 3px;*/
	vertical-align: text-top;
	width:55px;
	height:80px;
}
.btn {
	
	height:40px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	vertical-align: top;
}
.btn-lg {
	padding:5px 10px;
	margin:0px 10px;
	font-size: 12px;
}
#god {
	font-color:blue;
	background-color: white;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	vertical-align: top;
}
#reset {
	margin-right:20px;
	background-color: red;
	border: 2px solid pink;
}
#gameboard .card {
	
}
